/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./Inter-Variable.woff2") format("truetype-variations");
  font-weight: 300 700; /* Диапазон весов от Light (300) до Bold (700) */
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "PressStart2P-Regular";
  src: local("PressStart2P-Regular"),
    url("./PressStart2P-Regular.woff") format("woff"); /* Исправлен формат */
  font-weight: normal;
  font-style: normal;
}
