/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.like-icon.is-liked {
  animation: combinedLikeAnimation 0.3s 0.1s ease-in;
}

@keyframes combinedLikeAnimation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

.like-icon.is-liked .sparks {
  animation: appearSparks 0.3s 0.3s ease-in;
}

@keyframes appearSparks {
  0% {
    opacity: 1; /* искры невидимы */
  }
  100% {
    opacity: 0; /* полная яркость искр */
  }
}

/* .like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}
.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
}
.like-icon.is-liked .sparks {
  fill: var(--animation-fill-color);
} */
