/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.like-icon.is-liked {
  animation: combinedLikeAnimation 1.1s forwards;
}

@keyframes combinedLikeAnimation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.like-icon.is-liked .core {
  animation: fillCore 1.1s forwards;
}

@keyframes fillCore {
  0% {
    fill: transparent;
  }
  20% {
    fill: var(--animation-fill-color);
  }
  100% {
    fill: var(--animation-fill-color);
  }
}

.like-icon.is-liked .main-body {
  animation: fillMainBody 1.1s forwards;
}

@keyframes fillMainBody {
  0% {
    fill: transparent;
  }
  40% {
    fill: var(--animation-fill-color);
  }
  100% {
    fill: var(--animation-fill-color);
  }
}

.like-icon.is-liked .contour {
  animation: fillContour 1.1s forwards;
}

@keyframes fillContour {
  0% {
    fill: transparent;
  }
  60% {
    fill: var(--animation-fill-color);
  }
  100% {
    fill: var(--animation-fill-color);
  }
}

.like-icon.is-liked .sparks {
  animation: appearSparks 1.1s forwards;
}

@keyframes appearSparks {
  0% {
    fill: transparent;
  }
  90% {
    fill: var(--animation-fill-color);
  }
  100% {
    fill: transparent;
  }
}

/* .like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}
.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
}
.like-icon.is-liked .sparks {
  fill: var(--animation-fill-color);
} */
