/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P-Regular", monospace, sans-serif;
  --card-text-thickness: 410; /* Толщина основного текста карточки */
  --card-header-thickness: 715; /* Толщина заголовка карточки */
  --outline-color: #fff;
  --grid-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 1px,
      transparent 1px,
      transparent 2px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 1px,
      transparent 1px,
      transparent 2px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-width: clamp(375px, 50vw, 700px);
}
